doctype html
html(ng-app='scenario5App')
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    script(type='text/javascript' src='/vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/vendor/jquery-ui/jquery-ui.min.js')
    script(type='text/javascript' src='/vendor/angular/angular.min.js')
    script(type='text/javascript' src='/vendor/angular-dragdrop/src/angular-dragdrop.min.js')
    script(type='text/javascript' src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/scenario5.js')
    script(src='/js/controllers/contentview.controller.js')
    script(src='/js/controllers/listview.controller.js')
    script(src='/js/components/forms-list.js')

  body
    block content