doctype html
html(ng-app='scenario5App')
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="/vendor/nvd3/nv.d3.min.css" rel="stylesheet")
    script(type='text/javascript' src='/vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/vendor/jquery-ui/jquery-ui.min.js')
    script(type='text/javascript' src='/vendor/angular/angular.min.js')
    script(src='/vendor/d3/d3.js')
    script(src='/vendor/nvd3/nv.d3.js')
    script(src='/vendor/angular-nvd3/dist/angular-nvd3.js')
    script(type='text/javascript' src='/vendor/angular-dragdrop/src/angular-dragdrop.min.js')
    script(type='text/javascript' src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/scenario5.js')
    script(src='/js/controllers/contentview.controller.js')
    script(src='/js/controllers/listview.controller.js')
    script(src='/js/controllers/blank.controller.js')
    script(src='/js/controllers/dataTable.controller.js')
    script(src='/js/controllers/chartCtrl.js')
    script(src='/js/components/blank-forms.js')
    script(src='/js/components/forms-list.js')
    script(src='/js/components/data-table.js')
    script(src='/js/components/form-content.js')
    script(src='/js/services/s5.services.js')

  body(ng-controller='ListViewController as list')
    block content