<div ng-show='page == 5' ng-controller='DataTableController as table'> 

	<!-- Modal -->
  <div class="modal fade" id="saveDataModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
        	You have saved the current data.
        </div>
      </div>
    </div>
  </div>

	<div class="container col-xs-12" style="margin-top:5%; margin-bottom:5%; border: 1px solid 000000; ">

		<h5 class='pull-right'>
		  <button type="button" class="btn btn-primary btn-sm" ng-click='table.addRemark()'>
			  Add Column
		  </button>
		  <button type="button" class="btn btn-default btn-sm" ng-click='table.undo()'>
			  Undo
		  </button>
		  <button type="button" class="btn btn-default btn-sm" ng-click='table.redo();'>
			  Redo
		  </button>
		</h5>


		<table class='table table-striped'>
      <tr>
		    <th ng-repeat='tb in tableArr track by $index'>
			  	<font ng-show='!formArr[$index].edit' ng-click="table.setTitle(formArr[$index], true, $index)">
			    	{{ tb }}
			    </font>
			    <input ng-show='formArr[$index].edit' ng-model="formArr[$index].title" type="text" class="form-control input-sm" ng-blur="table.setTitle(formArr[$index], false, $index)" autofocus />
			    <a href ng-show='formArr[$index].type == "remark"' ng-click='table.setFunc($index)'> func </a>
			    <a href ng-click="table.delete_col($index, tb)">
					  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</a>
		    </th>
		    <th> Options </th>
		  </tr>
		  <tr ng-repeat='data in dataArr track by $index'>
		  	<td ng-repeat='data in data.data track by $index' class="col-xs-2">
			  	<font ng-if="data.type == 'textbox'" ng-show='!data.edit' ng-click="table.setEdit(data, true, $index, $parent.$parent.$index)">
			      {{ data.ans }} 
			    </font>
			    <input ng-if="data.type == 'textbox'" ng-show="data.edit" ng-model="table.new_data" type="text" class="form-control input-sm" ng-blur="table.setEdit(data, false, $index, $parent.$parent.$index)" autofocus />

				<select id='Question{{ $parent.$parent.$index }}-{{$index}}' ng-if="data.type == 'select'" class="form-control input-sm col-xs-2" ng-blur='table.setSelect($parent.$parent.$index, $index, data)'>
					<option ng-selected="{{option == data.ans}}" ng-repeat="option in data.options">{{ option }}</option>
				</select>

				<select id='Question{{ $parent.$parent.$index }}-{{$index}}' ng-if="data.type == 'checkbox'" ng-blur='table.setSelect($parent.$parent.$index, $index, data)' multiple> 
					<option ng-selected="{{data.ans.indexOf(option) != -1}}" ng-repeat="option in data.options">{{ option }}</option>
				</select>

				<input id='Question{{ $parent.$parent.$index }}-{{$index}}' ng-if="data.type == 'remark'" ng-model="data.ans" type="text" class="form-control input-sm" ng-keypress='table.listenForCalc($parent.$parent.$index, $index, data)' ng-blur="table.setEdit(data, false, $index)" autofocus />
		    </td>
		    <td> 
		    	<button class="btn btn-danger btn-xs" ng-click='table.removeData(data._id, $index)'>
						<span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
					  Delete
				  </button>
			  </td>
		  </tr>
		</table>

		<button class="btn btn-info btn-md" ng-click='table.goBack()'>
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true" ></span>
		  Back
		</button>
		<button class="btn btn-primary btn-md" ng-click='table.saveData()' data-toggle="modal" data-target="#saveDataModal">
			<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true" ></span>
		  Save
		</button>

	</div>

</div>